.main{
    margin-top:50px;

}

.logo-img{
    display: block;
    width: 300px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}


.search-input{
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;


    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;

}


.btn{
    display: flex;
    justify-content: center;
}

.butt{
    margin-right: 5px;
    margin-left: 5px;
    background: whitesmoke;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;

}

.languages{
    text-align: center;
    margin-top: 55px;
    font-size: small;
}

.lang{
    color: blue;
}

